body {
}

.logo{
    height: 200px;
    width: 200px;
}

.image {
    height: 200px;
    width: 200px;
}

.jumbotron{
    background-color: none;
}

.body{
    margin-bottom: 40px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
}

.bookContainer {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
    display: inline-block;
    list-style-type: none;
}

