


<div class="container">
    <div class="py-5 bg-light">
        <h3 class="h3">Top Books.</h3>
        <div class="row">
            @foreach (var book in Model)
            {
                <partial name="_bookThumbnail", model="@book"/>
            }
        </div>
    </div>
</div>

