
<section class="jumbotron text-center">
    <div class="container">
        <h1>
            Welcome to Book Store By Rathin Karmakar.
        </h1>
        <p class="lead text-muted">
            This is a stsdnvanfknads odsan difai dhah fasdhfa fdasfdsahfah
            aljfibasdkfka f asf asf adfhashfuhsdfh ahf sakfsadhf ahfdh  ahef
            akbufkdaknfka fa f sa fiaf auflkf alafkhfkhkab fkjdka bjfdsfkfa
            aodfkdbakf lkaak ad.
        </p>
        <p>
            <a href="#" class="btn btn-primary m-2">Click Me</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books.</h3>
        @*<div class="row">
            @Html.Partial("_bookThumbnail", new BookModel())
            @Html.Partial("_bookThumbnail", new BookModel())
            @Html.Partial("_bookThumbnail", new BookModel())
        </div>*@

        <vc:top-books count ="3"></vc:top-books>

    </div>
</div>