

<section class="jumbotron text-center">
    <div class="container">
        <h1>
            Welcome to Book Store By Rathin Karmakar.
        </h1>
        <p class="lead text-muted">
            This is a stsdnvanfknads odsan difai dhah fasdhfa fdasfdsahfah
            aljfibasdkfka f asf asf adfhashfuhsdfh ahf sakfsadhf ahfdh  ahef
            akbufkdaknfka fa f sa fiaf auflkf alafkhfkhkab fkjdka bjfdsfkfa
            aodfkdbakf lkaak ad.
        </p>
        <p>
            <a href="#" class="btn btn-primary m-2">Click Me</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books.</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">
                            This is the body of the class.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Click Me</a>
                            </div>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">
                            This is the body of the class.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Click Me</a>
                            </div>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">
                            This is the body of the class.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Click Me</a>
                            </div>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>