
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/home1.jpg" class="logo" alt="logo"/>
    <img src="~/MyStaticFiles/msf1.jpg" class="image" alt="img"/>
    <h1>This is the home page.</h1>
</body>
</html>
